.container
  .row
    .col-sm-8.thumbnail
      %div.spacing
        .row
          .col-sm-4{align:'center'}
            = image_tag 'pic.jpg'
          .col-sm-8
            %p
              %strong
                Director In charge:
                %br/
                Syed Ilyas Ahmed
            %p
              In the name of Allah the most Gracious, the most Merciful and May the blessings and protection of Allah be upon our beloved Messenger.
              %br/
              As’salamualaikum Wa Rahmatullahi Wa Barakatuhu!
              %br/
              It is my immense pleasure to welcome you to IPS international. We strive to provide the best educational experience possible to develop an educated Muslim/Muslimah who is capable of making good judgment that enables him/her to lead a life of ‘happiness’ through fulfilling his/her role as the servant and vicegerent of Allah.
              %br/
              Our teachers will teach to the best of their ability every day, guiding your child on a path that will give him/her the skill necessary for a productive future in this world (duniya) and hereafter (akhirah). The teachers are trained to employ effective strategies that appeal to the human mind and reason, to sense experience and to knowledge revealed to Prophets. Thus the teachers employ laboratory work, discussion, community of inquiry, comparative religious study, problem based learning, group presentation, field trips, mastery learning, public speaking skill, etc.
              %br/
              It is cheerful to all of the parents who want their wards to be an International Orator that IPS International is a best and only platform which is making their students in 5 languages at once, those are Arabic, English, Hindi, Telugu and Urdu.
              %br/
              I am confident that IPS International will always be a guiding light, guiding the destiny of its students and radiating compassion as it soars high in its pursuit of academic excellence, leadership and Islamic code of conduct.


    .col-sm-4.thumbnail
      %div.spacing
        %h3 ABOUT IPS
        %div
          %p{:style => "test-align:justify"}
            %br/
            IPS International started with a group of Dayees/Educationists/ A’alims/Teachers/Professors who joined hands together with a common vision of providing a high premium holistic education with Islamic values with appreciation of human values at affordable costs to the children
