
<style>
    #contact_us{
        text-align: justify;
        color: rgba(53, 53, 53, 0.99) !important;
        font-family: trebuc;
        margin-top: 1%;
    }
    .white_bg_static_pages{
        background-color: #fff !important;
    }

    #main{
        background-color: #fff !important;
    }

    h4{
        color: #162e40; !important;
    }
    h2{
        color: #162e40 !important;
    }
    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
    height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>
<div class="container">
    <div id ="contact_us" class="row">

        <div class="col-md-12 colxs-12">


            <h2 align="left" style="font-family: museo700">Contact Us</h2>
            <hr style="height: 3px;background-color: #162e40;">




            <b>INA Associates</b><br>

            Opp Urvasi Hotel Lane, Beside NIMS Hospital Lane,<br>

            Punjagutta Market, Punjagutta,<br>

            Hyderabad, Telangana 500082<br>

            India <br>

            Tel : +91 9395578987 (General)<br>

            Alternate No : +91 9908359597<br>

            Email : ali82imtiyaz@gmail.com<br><br>

        </div>
        <div class="google-maps" style="border: 1px solid #d3d3d3;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d951.5498503658001!2d78.41813228812808!3d17.45016767863356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91182b60d3c9%3A0xff15353e7cd7b653!2sILM+School+Of+Excellence!5e0!3m2!1sen!2sin!4v1493723118284" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>        </div>


        <br>

    </div>
</div>