.container
  %row
    .col-md-offset-3.col-md-6.col-md-offset-3
      %h2 Salient Features
      .panel-group
        .panel.panel-primary{style:'border-color:#269020 !important;'}
          .panel-heading{style:'background-color:#269020 !important;'} ISLAMIC SYLLABUS:-
          .panel-bod
            %ul
              %li
                Arabic Language (Tajweed Understandig Quran)
              %li
                Islamic Studies, Seerath of Prophets (PBUT) and Sahaba (RZ)
              %li
                Sunnah in Daily Life and Akhlaq (Good Manners)

        .panel.panel-primary
          .panel-heading ACADEMIC SYLLABUS:-
          .panel-bod
            %ul
              %li
                Nursery to VII (CCE Pattern)
              %li
                Languages: English, Telugu & Urdu
              %li
                Audio Visual Classes

        .panel.panel-primary{style:'border-color:#f3aa00 !important;'}
          .panel-heading{style:'background-color:#f3aa00 !important;'} Extra Curricular Activities:-
          .panel-bod
            %ul
              %li
                English Public Speaking (EPS)
              %li
                Arabic Public Speaking (APS)
              %li
                Telugu Public Speaking (TPS)
              %li
                Taekwondo, Sports & Painting

:css
  .panel.panel-primary {
    margin-bottom:5%;
  }

  .panel-bod{
  margin-top: 1%;
  }

  li{
  padding: 2%;
  }